* {
  font-family: Helvetica, sans-serif;
}

body {
  padding: 60px;
}

.newCategoryForm {
  margin-bottom: 1rem;
}

.labelError {
  color: red;
  font-size: 15px;
  margin: 1rem;
  text-align: center;
  padding-top: auto;
}
